[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
flake8 = "*"
kaggle = "*"
jupyterlab = "*"
tqdm = "*"
pyarrow = "*"
fastparquet = "*"
keras = "*"
scikit-learn = "*"
tensorflow = "*"
matplotlib = "*"

[requires]
python_version = "3.8"
